# WARNING!
# Do NOT use this settings in production!
# Не используйте эти настройки в продакшн!

POSTGRES_DB=eetgbot_database
POSTGRES_USER=eetgbot
POSTGRES_PASSWORD=pV1pX7tU9rV5uC1l
POSTGRES_PORT=5432
ADMINER_PORT=81
